@tailwind base;
@tailwind components;
@tailwind utilities;
@keyframes fadeInSlide {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .animate-fadeInSlide {
    animation: fadeInSlide 1.5s ease-in-out forwards;
  }

  /* Text Gradient Animation */
.text-gradient {
    background: linear-gradient(90deg, #ff7eb3, #ff758c, #ff6a5e, #ff7eb3);
    background-size: 300% 300%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradient-animation 3s ease infinite;
  }
  
  @keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  
  @keyframes glow {
    0% {
      box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    }
    50% {
      box-shadow: 0 10px 20px rgba(255, 255, 255, 0.8);
    }
    100% {
      box-shadow: 15px 15px 20px rgba(255, 255, 255, 0.5);
    }
  }
  
  .animate-glow {
    animation: glow 2s infinite alternate;
  }
  